$black: hsla(0,0,0,1);
$dark: hsla(0,0,29,1);
$medium: hsla(0,0,45,1);
$light: hsla(0,0,84,1);
$exralight: hsla(0,0,93,1);
$cantina-blue: hsla(205, 83%, 54%, 1);
$white: #fff;
$white-70-o: hsla(0,0,100,.7);
$orange: hsla(38,100%,50%,1);
$red: hsla(5, 100%, 50%, 1);
