.versus-card {
    background-color: $dark;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: width 0.30s ease-in-out;
    @media (max-width: $small-screen) {
        height: 250px;
    }
    &.l-col-1 {
        background-size: contain;
    }
}
