.versus-card {
    background-color: $dark;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all 0.30s ease-in-out;
    box-shadow: inset 1px 0px 5px 0px $dark;
    @media (max-width: $small-screen) {
        height: 40vh;
    }
    &.l-col-1 {
        background-size: contain;
        @media (max-width: $small-screen) {
            height: 75vh;
        }
    }
    &:first-child {
        border-right: 1px solid $medium;
    }
}
